.wrapper {
  height: 100%;
  width: 100%;
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main {
  flex-direction: column;
  padding: 2rem;
  max-width: 35rem;

  &__subtitle {
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }

  &__text {
    margin: 0.5rem 0;
    &:last-child {
      margin-bottom: 2rem;
    }

    &--code {
      font-family: Courier;
      padding: 0.33rem 0.67rem;
      font-size: 0.9rem;
      color: $text-code;
      background-color: $background-code;
      border-radius: 4px;
      white-space: pre;
    }
  }

  &__link {
    word-break: break-all;
    &:hover {
      color: $primary;
    }
  }
}
